---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - storage.synaptikltd.io
  resources:
  - autoresizepolicies
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - storage.synaptikltd.io
  resources:
  - autoresizepolicies/finalizers
  verbs:
  - update
- apiGroups:
  - storage.synaptikltd.io
  resources:
  - autoresizepolicies/status
  verbs:
  - get
  - patch
  - update
